body {
    font: 14px Arial, "Helvetica Neue", sans-serif;
    margin: 20px;
    padding: 0;
    background: #000000;
}
.nav {
    height: 20px;
    margin: 0 0 20px;
    padding: 0;
}
.nav:after {
    content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.nav li {
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
    float: left;
    display: inline;
}
.nav a {
    padding: 0 4px;
    display: block;
    line-height: 20px;
    color: #FFFFFF;
}
.nav a:hover {
    background: #5DB0E6;
    text-decoration: none;
}
.nav a:focus {
    outline: none;
}
.nav .selected {
    background: #176092;
    text-decoration: none;
}
.nav .selected:hover {
    background: #176092;
}
.log {
    height: 399px;
    overflow: auto;
    border: 1px solid #F3F3F3;
    background: #FFFFFF;
}
.log p {
    height: 25px;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    line-height: 25px;
    font-size: 12px;
}
.log .even {
    background: #F3F3F3;
}
.log .init {
    color: #FF6600;
}
.log .change {
    color: #176092;
}
.log .internalChange {
    color: #539312;
}
.log .externalChange {
    color: #A30000;
}