<!DOCTYPE html> 
<html> 
    <head> 
        <title><%- selected.title %></title> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link type="text/css" href="styles.css" rel="stylesheet">
        <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="jquery.address-1.3.min.js?state=/"></script>
        <script type="text/javascript">

            $.address.init(function() {

                // Initializes the plugin
                $('.nav a').address();
                
            }).change(function(event) {

                var value = $.address.state().replace(/^\/$/, '') + event.value;
                
                // Selects the proper navigation link
                $('.nav a').each(function() {
                    if ($(this).attr('href') == value) {
                        $(this).addClass('selected').focus();
                    } else {
                        $(this).removeClass('selected');
                    }
                });

                // Handles response
                var handler = function(data) {
                    $.address.title(data.title);
                    $('.content').html(data.content).show();
                };

                // Loads the page content and inserts it into the content area
                $.ajax({
                	dataType: 'json',
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        handler(XMLHttpRequest.responseText);
                    },
                    success: function(data, textStatus, XMLHttpRequest) {
                        handler(data);
                    },
                    url: value
                });
            });

            // Hides the tabs during initialization
            document.write('<style type="text/css"> .content { display: none; } </style>');
            
        </script> 
    </head> 
    <body> 
        <div class="page"> 
            <h1>jQuery Address Express</h1>
            <ul class="nav">
            <% for (var key in data) { %>
                <li><a href="<%= data[key].href %>"<%- selected == data[key] ? ' class="selected"' : '' %>><%= data[key].title %></a></li>
            <% } %>
            </ul>
            <div class="content"><%- selected.content %></div>
        </div>
    </body> 
</html>


