body {
    font: 13px "Helvetica Neue", Arial, sans-serif;
	background: #91989D;
}
.content {
    width: 720px;
    margin: 20px auto;
}
.content h1 { 
    font-size: 27px;
    margin: 0 3px 17px; 
    padding: 0;
    color: #fff; 
}
#tabs {
    height: auto !important;
    height: 320px;
    min-height: 320px;
}